@{
    ViewBag.Title = "Home Page";
    string style = ViewBag.Tshirts ? null : "visibility: hidden";
}


<div id="loveMKErow" class="row">

    <div class="col-md-8">
        <img id="loveMKEHomeLogo" src="~/Images/LoveMKE-logo-v1.png" />
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 projectButtons buttonMargins">
                <a class="projectBtn center" href="~/groups/LoveMKE">Project Details</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 projectButtons buttonMargins">
                <a class="projectBtn center" href="~/IndividualViewModels/Register">Project Sign-ups</a>
            </div>
        </div>
        <div class="row" style="@style">
            <div class="col-md-12 projectButtons buttonMargins">
                <a class="projectBtn center" href="~/TShirtSizeModels/GetPerson">Order T-Shirts</a>
            </div>
        </div>
    </div>
</div>

