
@{
    ViewBag.Title = "Index";
}

<h2>Your Sign-ups At Southbrook</h2>
<hr />
<br />
<br />
<br />
<div id="adminCount" class="row">
    <div class="col-md-12">
        <h2>Total Sign-ups = @ViewBag.Count</h2>
    </div>
</div>

<div class="row">
   
        <div class="col-md-3">
            <div class="col-md-12 projectButtons buttonMargins">
                <a class="projectBtn center" href="~/AdminDashboard/GetParticipants">Participants</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 projectButtons buttonMargins">
                <a class="projectBtn center" href="~/TShirtSizeModels/TshirtList">T-Shirts</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 projectButtons buttonMargins">
                <a class="projectBtn center" href="~/Account/Register">Add Help</a>
            </div>
        </div>
    <div class="col-md-3">
        <div class="col-md-12 projectButtons buttonMargins">
            <a class="projectBtn center" href="~/Settings/Index">Settings</a>
        </div>
    </div>
    </div>
